<div class="column-item">
  <h3 class="title"><%= link_to item.name.html_safe, item %></h3>
  <span class="gray small">
    <%= t('app.menu_articles') %>: <%= item.article(:in).size %>
    <%= t('app.menu_news') %>: <%= item.news(:in).size %>
  </span>
</div>

