<div class="row">
  <div class="col-lg-9">
    <h1><%= @item.name.html_safe %></h1>

    <small class="pull-right"><% @item.tag.each do |tg| %>
      <span class="label label-info"><%= tg.text %></span><% end %></small>

    <%= render :partial => 'authors/author_of', :locals => {:author => @item} %>

  </div>
  <div class="col-lg-3">
    <% unless @item.url.empty? %>
      <h3><%= t('relation.links') %></h3>
      <% @item.url.each do |url| %>
        <%=  link_to url.name, url.url %>
      <% end %>
    <% end %>
  </div>
</div>
