<div class="row">
  <div class="col-lg-8">
    <%= t('app.welcome') %>
    <%= link_to t('app.details') %></a>
  </div>
  <div class="col-lg-4">RSS</div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3><%=t('app.menu_news')%></h3>
    <%= render partial: "news/column", collection: @frontpage_news, as: :item %>
  </div>
  <div class="col-lg-4">
    <h3><%=t('app.menu_events')%></h3>
    <%= render partial: "events/column", collection: @frontpage_events, as: :item %>
  </div>
  <div class="col-lg-4">
    <h3><%=t('app.twitter_stream')%></h3>
    <% @tweets.each do |tw| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= tw.from_user %></div>
        <div class="panel-body"><%= tw.text %></div>
      </div>
    <% end %>
  </div>
</div>