<div class="row">
  <div class="col-lg-8">
    <%= t('app.welcome').html_safe %>
    <%= link_to t('app.details') %>
  </div>
  <div class="col-lg-4">RSS</div>
</div>

<div class="row columns">
  <div class="col-lg-6 column">
    <h2 class="news"><%= link_to t('app.menu_news'), news_index_path %></h2>
    <%= render partial: "news/column", collection: @frontpage_news, as: :item %>
  </div>
  <div class="col-lg-3 column">
    <h2 class="articles"><%= link_to t('app.menu_articles'), articles_path %></h2>
    <%= render partial: "articles/column_brief", collection: @frontpage_articles, as: :item %>
  </div>
  <div class="col-lg-3 column">
    <h2 class="events"><%= link_to t('app.menu_events'), events_path %></h2>
    <%= render partial: "events/column", collection: @frontpage_events, as: :item %>
    <h2 class="twitter"><span><%= t('app.twitter_stream') %></span></h2>
    <% @tweets.each do |tw| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= tw.from_user %></div>
        <div class="panel-body"><%= tw.text %></div>
      </div>
    <% end %>
  </div>
</div>
