<% unless @item == nil %>
<h1><%= @item.title %></h1>

<div class="row">
  <div class="col-lg-9">
    <%= @item.rendered.html_safe %>
  </div>
  <div class="col-lg-3">
    <% authors = @news.get_related_authors
       if authors then %>
      <h3><%=t('relation.authors')%></h3>
      <% authors.each do |ref| %>
          <%= ref.author.get_html.html_safe %><br/>
      <% end %>
    <% end %>
    <% urls = @news.get_related_urls
       if urls then %>
      <h3><%=t('relation.links')%></h3>
      <% urls.each do |ref| %>
        <%= link_to ref.url.name, ref.url.url %><br/>
        <% end %>
    <% end %>
  </div>
</div>
<% end %>
